.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.vscode/
data/processed/*
data/cleaned/*
!data/processed/.gitkeep
!data/cleaned/.gitkeep
!data/cleaned/bakery_sales_clean.csv
*.env
credentials.json
bakery.duckdb
